@* Header principal con notificaciones y menú de usuario *@

<header class="app-header">
    <div class="header-content">
        <div class="header-brand">
            <a href="/" class="brand-link">
                <i class="bi bi-building"></i>
                <span class="brand-name">Portal de Acceso</span>
            </a>
        </div>
        
        <div class="header-actions">
            <NotificationBell />
            <UserMenu />
        </div>
    </div>
</header>
